[package]
name = "interface"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
guest = []
host = ["wasmer"]

[dependencies]
wasmer = { version = "2.0", optional = true }
